.form{
  margin-top:15em;
}
.form1{
  margin-top:5em;
}


h1{
  margin-left: 5%;
}
legend{
  margin-left: 2%;
}

nav{
  height:3em;
  background-color:grey;
  width:100%;
}


.foot{
  margin-left: 48%;
  margin-top: 20em;
}


.adminmenu{
display: none;
}

.contianer{

  width:80%;
  margin-left: 10%;
  background-color: white;

}


body{

background-color: lightblue;
}
.line{
  height: 0.5em;
  width: 100%;
  background-color:black;
}


.sorry{
border-style: solid;

}

h4{
margin: 45;

}
.right{
  width:70%;
  float: right;
  background-color: #ffffff;

}

.left{
  padding:2%;
  width: 15%;


}
article{
  width:90%;
  background-color:lightblue;
  margin-left:5%;
  height:auto;
  
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top:
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.login{
  width:20%;
  margin-left: 5%;
  padding-bottom: 5em;

}
.logout{
  float:right;
  padding-right: 2%;
}
