.form{
  margin-top:15em;
}
.form1{
  margin-top:5em;
}

.input{
  height:3em;
  wdith:5em;
  margin-left:47%;
 margin-top:2em;
 border-radius:5%;
 display: flex;
}

h1{
  margin-left: 5%;
}
legend{
  margin-left: 2%;
}

nav{
  height:3em;
  background-color:grey;
  width:100%;
}


.foot{
  margin-left: 48%;
  margin-top: 20em;
}


.adminmenu{
display: none;
}



.line{
  height: 0.5em;
  width: 100%;
  background-color:black;
}


.sorry{
border-style: solid;

}

h4{
margin: 45;

}
.right{
  width:80%;
float: right;
  background-color: red;

}

.left{
  padding:2%;
  width: 20%;

}
article{
  width:90%;
  background-color:lightblue;
  padding:0 5%;
  height:auto;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
