.form{
  margin-top:15em;
}
.form1{
  margin-top:5em;
}

.input{
  height:3em;
  wdith:5em;
  margin-left:47%;
 margin-top:2em;
 border-radius:5%;
 display: flex;
}

h1{
  margin-left: 5%;
}
legend{
  margin-left: 2%;
}

nav{
  height:3em;
  background-color:grey;
  width:100%;
}


.foot{
  margin-left: 48%;
  margin-top: 20em;
}


.adminmenu{
display: none;
}



.line{
  height: 0.5em;
  width: 100%;
  background-color:black;
}


.sorry{
border-style: solid;
}
